spawn-protection={{ spigot.get('spawn-protection', '0') }}
query.port={{ spigot.get('query-port', '25565') }}
server-name={{ spigot.get('server-name', 'spigotMC Server') }}
generator-settings={{ spigot.get('generator-settings', '') }}
force-gamemode={{ spigot.get('force-gamemode', 'false') }}
allow-nether={{ spigot.get('allow-nether', 'true') }}
gamemode={{ spigot.get('gamemode', '0') }}
enable-query={{ spigot.get('enable-query', 'true') }}
player-idle-timeout={{ spigot.get('player-idle-timeout', 'false') }}
difficulty={{ spigot.get('difficulty', '3') }}
spawn-monsters={{ spigot.get('spawn-monsters', 'true') }}
op-permission-level={{ spigot.get('op-permission-level', 4) }}
announce-player-achievements={{ spigot.get('announce-player-achievements', 'true') }}
pvp={{ spigot.get('pvp', 'true') }}
snooper-enabled={{ spigot.get('snooper-enabled', 'true') }}
level-type={{ spigot.get('level-type', 'DEFAULT') }}
hardcore={{ spigot.get('hardcore', 'false') }}
enable-command-block={{ spigot.get('enable-command-block', 'false') }}
max-players={{ spigot.get('max-players', '10') }}
rcon.port={{ spigot.get('rcon-port', '25575') }}
server-port={{ spigot.get('server-port', '25565') }}
debug={{ spigot.get('debug', 'false') }}
texture-pack={{ spigot.get('texture-pack', '') }}
server-ip={{ spigot.get('server-ip', '') }}
spawn-npcs={{ spigot.get('spawn-npcs', 'true') }}
allow-flight={{ spigot.get('allow-flight', 'false') }}
level-name={{ spigot.get('level-name', '') }}
view-distance={{ spigot.get('view-distance', '10') }}
resource-pack={{ spigot.get('resource-pack', '') }}
spawn-animals={{ spigot.get('spawn-animals', 'true') }}
white-list={{ spigot.get('white-list', 'false') }}
rcon.password={{ spigot.get('rcon-password', '') }}
generate-structures={{ spigot.get('generate-structures', 'true') }}
online-mode={{ spigot.get('online-mode', 'true') }}
max-build-height= {{ spigot.get('max-build-height', '256') }}
level-seed={{ spigot.get('level-seed', '') }}
enable-rcon={{ spigot.get('enable-rcon', 'false') }}
motd={{ spigot.get('motd', '') }}
